// VARIABLES

// $black: rgb(102, 101, 101);
$black: #787878;
$red: #e7332b;
$mainbgc: #fffdf5;
// $d-red: ;
$pinkish: #fffafa;
$white: white;
$grey: #585858;
$desktop: 1199;
$desktop1: 1130px;
$tab: 992px;
$tablet: 768px;
$phone1: 590px;
$phone: 425px;
$sphone: 336px;

@mixin bgc {
    background-color: #fffdf5;
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }

}

@mixin desktop1 {
    @media (max-width: #{$desktop1}) {
        @content;
    }

}

@mixin tab {
    @media (max-width: #{$tab}) {
        @content;
    }

}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }

}

@mixin phone1 {
    @media (max-width: #{$phone1}) {
        @content;
    }

}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }

}

@mixin sphone {
    @media (max-width: #{$sphone}) {
        @content;
    }

}

@mixin padding-tb($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin padding-lr($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin nav {
    // padding: 0px 24px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

@mixin nav-link {
    text-decoration: none;
    font-size: 16px;
    // font-weight: 600;
    color: $black;
}

@mixin nav-item {
    list-style-type: none;
}
