/* @import url('http://fonts.cdnfonts.com/css/averta-blackitalic?styles=17723'); */
@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
/* @font-face {
    font-family: 'Graphik';
    src: url(http://fonts.cdnfonts.com/css/graphik);
} */
* {
  /* color: #1a1a20; */
  /* font-family: 'Averta-Regular', sans-serif; */
  /* font-family: 'Averta-BlackItalic', sans-serif; */
  font-family: 'Averta-Regular', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #666565;
}

.hero-container {
  background-image: url(../images/index-images/hero-bg.svg);
  background-size: cover;
}

.hero-container .hero {
  padding: 68px 0px 300px;
  max-width: 700px;
  margin: 0 auto;
}

.hero-container .hero h1 {
  font-size: 33px;
  font-weight: 700;
  padding: 40px 10px 30px;
}

.hero-container .hero p {
  padding: 10px;
}

.hero-container .hero span a {
  color: #e7332b;
}

.hero-container .hero span a:hover {
  text-decoration: none;
}

.hero-container .hero .buttons {
  padding-top: 70px;
}

.hero-container .hero .buttons button {
  padding: 10px 20px;
  margin: 15px 20px;
}

.hero-container .hero .buttons .button1 {
  background-color: #e7332b;
  color: white;
  border: 1px solid transparent;
}

.hero-container .hero .buttons .button1:hover {
  background-color: white;
  color: #e7332b;
  border: 1px solid #e7332b;
}

.hero-container .hero .buttons .button2 {
  background-color: white;
  color: #e7332b;
  border: 1px solid #e7332b;
}

.hero-container .hero .buttons .button2:hover {
  background-color: #e7332b;
  color: white;
  border: 1px solid #e7332b;
}

.team {
  background-color: #fff;
  padding-top: 50px;
}

.team h5 {
  color: #e7332b;
  font-size: 14px;
}

.team h3 {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
}

.team .zuris {
  padding: 10px 20px;
}

.team .zuris .zuri {
  background-color: #fffafa;
  padding: 0px 15px;
  padding: 40px 30px 60px 40px;
  margin: 30px 15px;
}

.team .zuris .zuri a {
  text-decoration: none;
  color: #e7332b;
}

.team .zuris .zuri a:hover {
  text-decoration: none;
}

.team .zuris .zuri .p1 {
  margin-top: 70px;
  font-size: 15px;
}

/* FOOTER */
footer {
  margin: 180px 30px 60px 30px;
  /* padding: 0px; */
}

footer .top {
  margin-bottom: 70px;
}

footer .top h5 {
  font-size: 16px;
  font-weight: bold;
}

footer .top a {
  color: #e7332b;
}

footer .top a:hover {
  text-decoration: none;
}

footer .top .socials img {
  width: 20px;
  margin-right: 8px;
}

footer .copyright hr {
  border-width: 2px;
}

@media (max-width: 768px) {
  .hero-container .hero {
    padding-bottom: 40px;
  }
  .hero-container .hero .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  .team {
    padding-top: 10px;
  }
  .team h5 {
    margin-top: 0px;
  }
  .footer .top .column h5 {
    font-size: 24px;
  }
  .footer .top .column .socials img {
    width: 20px;
  }
}
/*# sourceMappingURL=style.css.map */