/* @import url('http://fonts.cdnfonts.com/css/averta-blackitalic?styles=17723'); */
@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
@import './variables&mixins';
          

 /* @font-face {
    font-family: 'Graphik';
    src: url(http://fonts.cdnfonts.com/css/graphik);
} */

* {
    /* color: #1a1a20; */
    /* font-family: 'Averta-Regular', sans-serif; */
    /* font-family: 'Averta-BlackItalic', sans-serif; */
    font-family: 'Averta-Regular', sans-serif;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



p {
    color: rgb(102, 101, 101);
}

.hero-container {
    background-image: url(../images/index-images/hero-bg.svg); 
    background-size: cover;

    .hero {
        padding: 68px 0px 300px;
        // padding: 10px;
        max-width: 700px;
        margin: 0 auto ;
    
        h1 {
            font-size: 33px;
            font-weight: 700;
            padding: 40px 10px 30px;
            
        }
     
        p {
            padding: 10px;
        }
        span a {
            color: $red;
        }
    
        span a:hover {
            text-decoration: none;
        }
    
        .buttons {
            padding-top: 70px;
    
            button {
                padding: 10px 20px;
                margin: 15px 20px;
                
            }
    
            .button1 {
                background-color: $red;
                color: white;
                border: 1px solid transparent;
            }
    
            .button1:hover {
                background-color: white;
                color: $red;
                border: 1px solid $red;
            }
    
            .button2 {
                background-color: white;
                color: $red;
                border: 1px solid $red;
            }
    
            .button2:hover {
                background-color: $red;
                color: white;
                border: 1px solid $red;
            }
        }
    } 
}

// TEAM SECTION
.team {
    background-color: #fff;
    padding-top: 50px;

    h5 {
        color: $red;
        font-size: 14px;
    }

    h3 {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .zuris {
        padding: 10px 20px;
        .zuri {
            // margin-top: 50px;

            background-color: $pinkish ;
            padding: 0px 15px;
            padding: 40px 30px 60px 40px;
            // margin-left: 30px;
            margin: 30px 15px;


            a {
                text-decoration: none;
                color: $red;
            }
            
            a:hover {
                text-decoration: none;
            }

            .p1 {
                margin-top: 70px;
                font-size: 15px;
            }
        }
    }
}


/* FOOTER */
footer {
    margin: 180px 30px 60px 30px;
    /* padding: 0px; */

    .top {
        margin-bottom: 70px;

        h5 {
            font-size: 16px;
            font-weight: bold;
        }
        a {
            color: $red;
        }

        a:hover {
            text-decoration: none;
        }
        .socials {
            img {
                // width: 7%;
                width: 20px;
                margin-right: 8px
            }
        }
    }

    .copyright {
        hr {
            border-width: 2px;
        }
    }
}


// MEDIA QUERIES

@include tablet {
   .hero-container{
        .hero{
            padding-bottom: 40px;
            p {
                // padding-left:  12;
                // padding-right: 12 ;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                padding-top: 30px;
            }
        }
    }

    .team {
        padding-top: 10px;

        h5 {
            margin-top: 0px;
        }
    }

    .footer {
        .top {
            // padding: 60px 0px;
            
           .column {
                h5 {
                    font-size: 24px;
                }
                .socials {
                    img {
                        width: 20px;
                    }
                }
           }
        }
    }
}

