@import '../styles/general.scss';

@import '../styles/variables&mixins';
@import url('http://fonts.cdnfonts.com/css/graphik');

*{
    font-family: 'Graphik', sans-serif;
}


header {
    background-color: $white;
    width: 100%;

    // padding-left: 50px;
    //.logo {
        // height:auto;
        //width: 170px;
        // position: absolute;
        // width: 50%;
        // height: 50%;
        // padding: 10px 0px;
   // }

    nav {
        background-color: $white;
        @include nav;
        @include padding-lr(100px, 100px);

        .nav-menu {
            justify-content: space-between;
            // float: left;
            // float: right;
            // padding-right: 40px;


            .nav-item {
                @include nav-item;

                .home, .impact, .why {
                    @include nav-link;
                    // padding: 10px 24px;
                    margin-right: 20px;
                
                }

                .home:hover, .impact:hover, .why:hover {
                    padding-bottom: 26.5px;
                    padding-top: 26.5px;
                    background-color: rgb(232, 232, 238);
                    border-bottom: 3px solid $red; 
                    transition: ease;
                }

                .home {
                    color: $black;
                    padding-bottom: 26.5px;
                    padding-top: 26.5px;
                }

               

                // .nav-link:hover {
                //     background-color: #000;
                //     padding-top: -40px;
                // }
            }

            // button {
            //     margin-top: 8px;
            //     margin-bottom: 10px;
            // }

            button {
                background-color: $red;
                color: $white;
                padding: 7px 30px;
                border: 1px solid transparent;
                border-bottom-right-radius: 10px;
            }
        }
    }

}

.hero  {
    padding-top: 190px;
    padding: 150px 100px 20px 100px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .hero-text {
        margin-top: 120px;
        max-width: 50%;

        h1 {
            font-weight: 600;
        }

        p{
            padding-top: 30px;
            color: $black;
            font-size: 19px;
            // padding-right: 70px;
        }

        span {
            color: $red;
        }

        .buttons {
            margin-top: 30px;

            button{
                padding: 11px 50px;
                color: $white;
                border: 1px solid transparent;
                border-bottom-right-radius: 10px;
                box-shadow: 0 3.5px 2px -2px $black;
            }

            button:hover{
                box-shadow: 0 4px 4px -1.5px $black;
            }

            .button1{
                margin-right: 10px;
                background-color: $red;
            }

            .button2{
                background-color: $grey;
            }
        }
    }
    .hero-img{
        width: 35%;

        img {
            // width: 50%;
        width: 100%;

            min-width: 404px;
        }
    }
}

.section2{
    background-image: url(../images/talent-images/bgsection2.063bd869082548bafa74.png);
    background-size: cover;
    padding: 30px 80px 100px 80px;

    .section2-container {
        .text-country {
            padding-top: 60px;
            .section2-text {
                h1 {
                    font-weight: 600;
                   span{
                    color: $red;
                   }
                }

                h6 {
                    font-weight: 600;
                    font-size: 20px;
                }
                
                p{
                    color: $black;
                    font-size: 18px;
                }
            }

            .countries {
                div {
                    background-color: #fff;
                    padding: 10px 10px;
                    padding-bottom: 4px;
                    text-align: center;
                    border-radius: 6px;
                    margin-right: 20px;
                    img {
                        width: 40px;
                    }
                }

                .usa {
                    margin-right: 0;
                }
            }
        }

        .image{
            img {
                // width: 50%;
                width: 400px;
            }
        }
    }
}

.section3 {
    padding: 50px 80px 100px 80px;

    .section3-container {
        h1 {
            font-weight: 900;
            margin-bottom: 20px;
            margin-top: 50px;
            font-size: 45px;
        }

        span{
            color: $red;
        }

        .skills, .companies {
            div{
                padding: 15px 17px;
                margin: 20px 10px;
                background-color: $white;
                border-radius: 8px;
                box-shadow: 3px 3px 20px 7px rgb(245, 239, 239);
                color: $black;
                font-size: 18px;
                position: relative;
                top: 0;
                transition: top ease 0.3s;
            }

            div:hover {
                top: -15px;
            }
        }

        .skills {
            div {
            padding: 15px 28px;

            
            }
        }
    }
}

.section4 {
    background-color: rgb(255, 248, 229);
    // padding: 100px 80px 100px 80px;
    width: 100%;
    padding: 100px 0px;

    .section4-container {
        h1 {
            font-weight: 700;

            span {
                color: $red;
            }
        }

        .talents {
            .talent {
                background-color: $white;
                color: $black;
                margin: 10px;
                // width: 40px;
                // width: 450px;
                // padding-top: 50px;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: auto;
                padding-top: 50px;
                // display: flex;
                // flex-direction: column;
                height: 270px;
                
                border-bottom-right-radius: 20px;

                img {
                    width: 80px;
                    padding-bottom: 20px;
                }
            }

            .talent:hover {
                background-color: black;
                color: $white;
            }
        }

        .buttons {
            margin-top: 70px;

            button{
                padding: 11px 50px;
                color: $white;
                border: 1px solid transparent;
                border-bottom-right-radius: 10px;
                box-shadow: 0 3.5px 2px -2px $black;
            }

            button:hover{
                box-shadow: 0 4px 4px -1.5px $black;
            }

            .button1{
                margin-right: 20px;
                background-color: $red;
            }

            .button2{
                background-color: $grey;
            }
        }
    }
}

footer {
    background-color: #161617;
    // justify-content: center;
    // text-align: center;
   .footer-container {
    padding: 70px 30px;
    padding-bottom: 20px;

        .top {
            .socials {
                img {
                    width: 32px;
                    margin-right: 10px;
                }

                .youtube {
                    width: 40px;
                }
            }
        }
        .bottom {
            p, a{
                margin-bottom: 0;
                color: $white;
            }

            a:hover {
                color: $white;
                text-decoration: none;
            }

        }
   }
}


//MEDIA QUERIES
@include desktop1{
    .hero{
        display: flex;
        flex-direction: column;
        .hero-text{
            margin-top: 0;
            width: 100%;
            text-align: center;
            max-width: 100%;
            p{
                padding-top: 20px;
                margin-left: 80px;
                margin-right: 80px;
            }
        }
        .hero-img{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            img{
                // max-width: 750px;
                width: 70%;
                max-width: 704px;
                // margin: 0;
            }
        }
    }

    .section2{
        .section2-container{
            padding-left: 0;
            padding-right: 0;
            .text-country{
                .section2-text{
                    h1{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@include tab{
    header {
        nav{
            @include padding-lr(60px, 60px);
            .nav-menu{
                .nav-item{
                  a{
                    margin-left: 0;
                  }
                    
                }
                // .hire{
                //     display: block;
                // }
            }
        }
    }

    .section2{
        .section2-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-country{
                .section2-text{
                    text-align: center;
                    h1{
                        margin-right: 20px;
                        margin-left: 20px;
                        line-height: 40px;
                    }
                }
                .countries{
                    justify-content: center;
                    align-items: center;
                }
            }
            .image{
                margin-top: 50px;
                padding-top: 24px;
            }
        }
    }
}

@include tablet{
    header {
        nav{
            @include padding-lr(24px, 24px);
            padding-top: 4px;
            .nav-menu{
                .nav-item{
                    display: none;
                }
                .hire{
                    display: block;
                    a{
                        @include padding-lr(0px, 0px);
                        button{
                            padding: 7px 50px;
                        }
                    }
                }
            }
        }
    }
    
    .hero{
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
        .hero-text{
            p{
                margin-left: 30px;
                margin-right: 30px;
            }
            .buttons{
                button{
                    padding: 11px 25px
                }
            }
        }
    }

    .section2{
        .section2-container{
            .text-country{
                padding-top: 13px;
                .section2-text{
                    text-align: center;
                    h1{
                        line-height: 48px;
                        margin-bottom: 10px;
                    }
                    h6, p{
                        font-size: 19px;
                    }
                }
            }
            .image{
                width: 60%;

                img{
                    width: 100%;
                    min-width: 200px;
                    // max-width: 400px;
                }
            }
        }
    }
}

@include phone1{
    .hero{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        .hero-text{
            p{
               font-size: 16px;
            }
            .buttons{
                button{
                    padding: 8px 25px
                }
            }
        }
    }

    .section2{
        @include padding-lr(35px, 35px);

        .section2-container{

            .text-country{
                .section2-text{
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-start;
                    text-align: start;
                    h1{
                        line-height: 30px;
                        margin-bottom: 10px;
                        font-size: 28px;
                        margin-left: 0;
                        margin-right: 0;
                    }
                    h6, p{
                        font-size: 16px;
                    }
                }
                .countries{
                    justify-content: start;
                    div{
                        padding: 12px 12px;
                        // text-align: start;
                        img{
                            width: 42px;
                        }
                    }
                    .ind{
                        img{
                            width: 34px;
                        }
                    }
                    .nig{
                        img{
                            width: 38px;
                        }
                    }
                    .germany{
                        padding: 15px 12px;
                        img{
                            width: 38px;
                        }
                    }
                    .usa{
                        padding: 10px 12px;
                        img{
                            width: 35px;
                        }
                    }
                }
            }
            .image{
                width: 92%;

                img{
                    width: 100%;
                    min-width: 200px;
                    // max-width: 400px;
                }
            }
        }
    }
}

@include phone{
    header {
        nav{
            @include padding-lr(13px, 13px);
            .nav-menu{
                .nav-item{
                    display: none;
                }
                .hire{
                    display: block;
                    a{
                        @include padding-lr(0px, 0px);
                        button{
                            padding: 7px 23px;
                        }
                    }
                }
            }
        }
    }

    .hero{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        .hero-text{
            p{
               font-size: 16px;
               margin-left: 4px;
               margin-right: 4px;
            }
            .buttons{
                width: 100%;
                display: flex;
                justify-content: space-between;
                // align-items: center;
                // margin-left: 30px;
                // margin-right: 30px;
                @include padding-lr(10px, 10px);
                button{
                    padding: 8px 25px;
                }
            }
        }
        .hero-img{
            width: 100%;
            img {
                // width: 50%;
                width: 100%;
                min-width: 278px;
                max-width: 362px;
            }
        }
    }
    .section2{
        @include padding-lr(9px, 9px);

        .section2-container{
            .text-country{
                .section2-text{
                @include padding-lr(8px, 8px);
                    h1{
                        font-size: 26px;
                    }
                    h6, p{
                        font-size: 16px;
                    }
                }
                .countries{
                    justify-content: start;
                    @include padding-lr(8px, 8px);
                    div{
                        padding: 7px 0px;
                        // text-align: start;
                        width: 20%;
                        margin-right: 10px;
                        img{
                            // width: 25px;
                            width: 50%;
                        }
                    }
                    .eng{
                        img{
                            // width: 20px;
                            width: 70%;

                        }
                    }
                    .ind{
                        img{
                            // width: 20px;
                            width: 55%;

                        }
                    }
                    .nig{
                        img{
                            width: 23px;
                            width: 50%;

                        }
                    }
                    .germany{
                        padding: 8px 8px;
                        img{
                            width: 23px;
                            width: 100%;

                        }
                    }
                    .usa{
                    
                        padding: 8px 9px;
                        img{
                            width: 23px;
                            width: 60%;

                        }
                    }
                }
            }
            .image{
                width: 92%;

                img{
                    width: 100%;
                    min-width: 200px;
                    // max-width: 400px;
                }
            }
        }
    }
}

@include sphone{
    .hero{
        .hero-text{
            .buttons{
                @include padding-lr(0px, 0px);
                button{
                    padding: 8px 17px;
                    
                }
            }
        }
    }
}