@import '../styles/general.scss';

@import '../styles/variables&mixins';


header {
   nav {
    background-color: #fffdf5;

    @include nav;
    @include padding-tb(10px, 10px);
    @include padding-lr(50px, 50px);
        .nav-menu {
            @include nav-item;
            .nav-link {
                @include nav-link;
                font-size: 18px;
                margin-left: 27px;

            }
            .click {
                .thumbs {
                    div{
                        background-color: $red;
                        border-radius: 50%;
                        border: 8px solid transparent;
                        // margin: 6px 0px 0px 5px;

                        img {
                            width: 50px;
                            // height: 60px;
                            background-color: $red;
                            border-radius: 50%;
                        }
                    }
                    p{
                        background-color: $red;
                        color: $white;
                        margin-left: -8px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        // padding-right: 18px;
                    }
                }
            }

            .click:hover{
                text-decoration: none;
            }
        }
   }
}


//MEDIA QUERIES
@include desktop {
    header{
        nav{
            @include padding-lr(40px, 40px);
            .logo{
                    width: 297px;
            }

            .nav-menu{
                .nav-link{
                    margin-left: 0;
                    padding: 8px 13px;
                }
            }
        }
    }
}

@include tab {
    header {
        nav{
            .nav-menu{
                .nav-item{
                    display: none;
                }
            }
        }
    }
}


@include phone1 {
    header{
        nav{
            @include padding-lr(20px, 20px);
            .logo{
                width: 170px;
                // width: 20%
            }
        }
    }
}

@include phone{
    header{
        nav{
            .logo{
                width: 130px;
                min-width: 100px;
            }
            .nav-menu{
                .click{
                    .thumbs{
                        div{
                            // width: 40px;
                            img{
                                width: 40px;
                            }
                        }
                        p{
                           padding: 8px 20px;
                           padding-left: 4px;
                           font-size: 16px;
                           margin-left: -9px;
                        }
                    }
                }
            }
        }
    }
}

@include sphone{
    header{
        nav{
            .logo{
                width: 110px;
            }

            .nav-menu{
                .click{
                    .thumbs{
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}