@import '../styles/general.scss';

@import '../styles/variables&mixins';
@import url('http://fonts.cdnfonts.com/css/graphik');

*{
    font-family: 'Graphik', sans-serif;

}


header {
   nav {
    background-color: $mainbgc;

    @include nav;
    @include padding-tb(10px, 10px);
    @include padding-lr(50px, 50px);
        .nav-menu {
            @include nav-item;
            .nav-link {
                @include nav-link;
                font-size: 18px;
                margin-right: 27px;

            }
            .click {
                .thumbs {
                    div{
                        background-color: $red;
                        border-radius: 50%;
                        border: 8px solid transparent;
                        // margin: 6px 0px 0px 5px;

                        img {
                            width: 50px;
                            // height: 60px;
                            background-color: $red;
                            border-radius: 50%;
                        }
                    }
                    p{
                        background-color: $red;
                        color: $white;
                        margin-right: 0;
                        margin-left: -8px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        // padding-right: 18px;
                    }
                }
            }

            .click:hover{
                text-decoration: none;
            }
        }
   }
}

//HERO
.hero{
    // @include bgc;
    @include padding-tb(190px, 140px);
    padding-bottom: 0;
    .hero-container{
    @include padding-lr(70px, 70px);

        .female{
            img {     
                width: 370px;
            // margin-bottom: -100px;
            }
        }

        .male{
            width: 100%;
          img{
              // width: 343px;
            // height: 418px;
            padding-top: 16px;
            width: 300px;
            // width: 30%;
          }
        }

        .hero-text{
            // width: 30%;
            background-image: url(../images/training-images/maleface.svg);
            background-repeat: no-repeat;
            background-size: 50px auto;
            background-position: 50px 400px;
            h6{
                font-size: 17px;
                color: $red;
                font-weight: 400;
                // font-weight: lighter;
            }
            h1{
                font-size: 49px;
                font-weight: 600;
                // width: 520px
            }
            .line{
                width: 180px;
                margin-left: 240px;
                margin-top: -20px;
                margin-bottom: 0;
            }
            p{
                @include padding-lr(80px, 80px);
                font-size: 18px;
                color: $black;
                margin-top: 17px;
            }
            // .face{
            //     width: 50px;
            //     margin-left: 0px;
            //     margin-top: 0px;
                
            // }
           .enroll{
                background-image: url(../images/training-images/section1wire.svg);
                background-repeat: no-repeat;
                background-size: 80px auto;
                background-position: 320px 70px;
                padding-bottom: 140px;
            a{
                button {
                    padding: 8px 35px;
                    color: white;
                    background-color: $red;
                    border: 1px solid transparent;
                    border-radius: 30px;
                    font-size: 18px;
                    // margin: 0px 80px;
                    margin-top: 30px;
                   
                }
            }
           }
            // .wire{
            //     width: 80px;
            //     margin-bottom: -140px;
            //     margin-left: -100px;
            // }
        }
    }
}

.powered{
    @include padding-lr(70px, 70px);
    .ingressive{
        .text1{
            p{
                font-size: 24px;
                font-weight: 600;
            }
        }
        .image{
            .I4G{
                width: 230px;
            }
        }

        .text2{
            p{
                font-size: 23px;
                // font-weight: 600;
                text-align: end;
                padding-left: 10px;
            }
            a{
                color: #43b975;
                text-decoration: underline;
            }
        }
    }
}

.section2{
    // background-color: $mainbgc;
    .section2-container{
        @include padding-tb(50px, 130px);
        .top{
        @include padding-lr(40px, 40px);

            .text{
                
                h6 {
                    font-size: 24px;
                    color: $red;
                }
                p{
                    font-size: 40px;
                    font-weight: 600;
                    // padding-right: 60px;
                }
            }
            .image {
                img{
                    width: 200px;
                }
            }
        }
        .features{
            padding: 0;
            margin: 0;
            width: 100%;
            .feature-container{
                padding: 40px 70px;
                .feature{
                    // background-image: url(../images/training-images/curve3.svg);
                    // background-repeat: no-repeat;
                    // top: 0;
                    // left: 0;
                    // margin: 24px 0px 0px 24px;
                    // padding: 40px 0px 60px 0px;
                    background-color: $mainbgc;
                    border-radius: 30px;
                    box-shadow: 3px 3px 20px 7px rgb(245, 243, 243);
                    // top: 0;
                    transition: top ease 0.1s;
                    // padding: 70px 50px;
                    // margin-top: 30px;

                    // margin: 30px 15px;
                    // margin: 10px
                    // width: 28%;
                    //  margin-top: 10px;
                    // margin-right: 10px;
                    // margin: 10px;
                    width: 100%;
                    img{
                        width: 130px;
                        margin-left: 158px;
                    }
                    .text{
                        padding: 0px 40px;
                        h1{
                            font-size: 56px;
                            font-weight: 600;
                        }
                        h3{
                            margin: 35px 0px 40px 0px;
                            font-size: 36px;
                        }
                        p{

                        }
                    }

                }

                .feature:hover{
                    // top: -15px;
                }
                .feature1, .feature2, .feature4, .feature5{
                    background-color: $red;
                    // margin-right: 20px;
                    margin-bottom: 20px;

                }
                .feature1{
                    color: $white;
                    
                }


            }
        }
    }
}

//SECTION3
.section3{
    background-color: $red;
    color: $white;
    .section3-container{
        padding: 80px 80px;
        padding-right: 30px;
        .first{
            .text{
               .p1{
                    font-size: 18px;
                }
                h4{
                    font-size: 40px;
                    font-weight: 600;
                    margin-top: -13px;
                    margin-bottom: 50px;
                }
                .p2{
                    font-size: 17px;
                }
                a{
                    button{
                        font-size: 18px;
                        padding: 7px 25px;
                        margin: 30px 0;
                        margin-bottom: 40px;
                        color: $red;
                        background-color: $white;
                        border: 1px solid transparent;
                        border-radius: 30px;
                        box-shadow: 0 1px 4px -1.5px black;
                    }
                }
            }
            .perks{
                .perk{
                    border: 2px solid $white;
                    border-radius: 40px;
                    padding: 6px 12px;
                    padding-right: 9px;
                    img{
                        width: 50px;
                    }
                    p{
                        text-align: center;
                        margin-top: 15px;
                        margin-left: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
        .second{
            img{
                width: 700px;
            }
        }
    }
}

//SECTION3
.section4{
    background-color: $mainbgc ;
    .section4-container{
        padding: 70px 50px;
        .text{
            h6{
                color: $red;
                font-size: 25px;
                font-weight: 500;
            }
            h4{
                font-size: 40px;
                padding-right: 650px;
                font-weight: 600;
            }
        }
        .areas{
            .area{
                padding: 50px 30px;
                // background: rgb(175, 174, 127);
                background-color: $white;
                border-radius: 50px;
                box-shadow: 3px 3px 20px 7px rgb(245, 243, 243);
                h6{
                    font-size: 19px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .courses{
                    img{
                        margin-right: 12px;
                        margin-bottom: 30px;

                    }
                    .html, .css{
                        width: 35px;
                    }
                    .js, .adobe{
                        width: 45px;
                    }
                    .php, .python, .aws{
                        width: 55px;
                    }
                    .bash, .django{
                        width: 80px;
                    }
                    .ubuntu, .figma {
                        width: 100px;
                    }
                    .laravel, .react{
                        width: 75px;
                    }
                }
                p{
                    color: $black;
                    padding: 10px 0px;
                }
            }
        }
        .enroll{
            a{
                button{
                    font-size: 18px;
                    padding: 10px 40px;
                    // margin: 30px 0;
                    margin-bottom: 40px;
                    margin-top: 50px;
                    color: $white;
                    background-color: $red;
                    border: 1px solid transparent;
                    border-radius: 30px;
                    box-shadow: 0 1px 4px -1.5px black;
                }
            }
        }

    }
}

//SECTION5
.section5{
    background-color: $mainbgc;
    color: black;
    .section5-container{
        padding: 50px 50px;
        .text{
            margin-top: 100px;
            margin-bottom: 50px;
            p{
                font-size: 25px;
                color: $red;
            }
            h4{
                margin-top: -20px;
                font-size: 39px;
                font-weight: 600;
            }
        }
       .faqs{
        padding: 50px 100px;
            .question{
                border: 1px solid $black;
                padding: 30px 0px 10px 20px;
                p{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
       }

       .bottom{
        margin-top: 40px;
        margin-bottom: 30px;
        p{
            margin-right: 20px;
            margin-top: 20px;
            font-size: 18px;
            color: $black;
        }
        a{
            button{
                background-color: $red;
                border: 1px solid transparent;
                border-radius: 30px;
                padding: 6px 20px;
                color: $white;
            }
        }
       }
    }
}

//SECTION6
.section6{
    background-color: $mainbgc;
    color: black;
    .section6-container{
        padding: 50px 50px;
        background-image: url(../images/training-images/Star1.svg);
        background-repeat: no-repeat;
        background-size: 135px;
        background-position: 92% 5%;
        .text{
            background-image: url(../images/training-images/section7wire.svg);
            background-repeat: no-repeat;
            background-size: 137px;
            background-position: 15% 0%;
            padding-top: 80px;
            // margin-top: 100px;
            margin-bottom: 50px;
            h6{
                font-size: 25px;
                color: $red;
                font-weight: 400;
            }
            h4{
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 26px;
            }
            p{
                font-size: 18px;
                margin-bottom: 60px;
                color: #333333;
            }
        }
        .paths{
            @include padding-lr(50px, 50px);
            display: flex;
            justify-content: space-between;
            // align-items: center;
            .path{
                width: 50%;
                background-color: #1b1a20;
                color: $white;
                border-radius: 70px;
                padding: 70px 50px 50px 50px;
                // margin-left: 20px;
                margin-top: 40px;
                h6{
                    font-size: 18px;
                    font-weight: 600;
                    padding-top: 10px;
                }
                h4{
                    font-size: 33px;
                    font-weight: 600;
                }
                .p1{
                    margin-top: 26px;
                }
                
                ul{
                    li{
                        margin-left: -27px;
                        a{
                            color: $white;
                            text-decoration: underline;
                        }
                        img{
                            width: 15px;
                            margin-left: 6px;
                        }
                    }
                    
                }
            }
            .path1{
                // background-image: url(../images/training-images/hour.png);
                // background-repeat: no-repeat;
                // background-size: 100px auto;
                // background-position: 400px 570px;
                background-image: url(../images/training-images/hour.png);
                background-repeat: no-repeat;
                background-size: 106px;
                background-position: 92% 92%;
                margin-right: 40px;
                
                ul{
                    p{
                        margin-left: -27px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                    // .hour{
                    //     img{
                    //         width: 100%;
                    //         max-width: 100px;
                    //         margin-left: 80px;
                    //         margin-top: 150px;
                    //     }
                    // }
                }
            }
            .path2{
                background-image: url(../images/training-images/time.png);
                background-repeat: no-repeat;
                background-size: 185px;
                // background-position: bottom right;
                background-position: 89% 87%;
                //  padding: 110px 50px 50px 50px;
                ul{
                    li{
                    margin-bottom: 15px;
                    }
                }
                .post{
                    li{
                        margin-bottom: 0px;
                    }

                }
                // .time{
                //     img{
                //         width: 100%;
                //         max-width: 185px;
                //         margin-left: 40px;
                //         margin-top: -60px;
                       
                //     }
                // }
            }
        }
    }
}

//SECTION7
.section7{
    color: $white;
    .bg-top{
        img{
            width: 9%;
            margin: 20px 0px -20px 50px;
        }
    }
    .section7-container{
        background-color: $red;
        margin: 50px 60px;
        border-radius: 27px;
        background-image: url(../images/training-images/round.svg);
        background-repeat: no-repeat;
        background-size: 160px;
        background-position: 14% 10%;
        // margin-bottom: 400px;
        .top{
            padding-top: -70px;
            .bend{
                position: absolute;
                right: 5%;
                width: 11%;
            }
        }
        .text{
            padding: 70px 0px;
            padding-bottom: 0;
            p{
                font-size: 18px;
            }
            h4{
                font-size: 54px;
                font-weight: 600;
            }
            a{
                button{
                    font-size: 18px;
                    padding: 10px 40px;
                    // margin: 30px 0;
                    margin-bottom: 0px;
                    margin-top: 50px;
                    color: $red;
                    background-color: $white;
                    border: 1px solid transparent;
                    border-radius: 30px;
                    box-shadow: 0 1px 4px -1.5px black;
                }
            }
        }
        .bottom{
            display: flex;
            .img1{
                // position: absolute;
                // right: 7%;
                // width: 11%;
                // padding-top: 50px;
                display: flex;
                justify-content: space-between;
                // justify-content: start;
                img{
                    width: 120%;
                }
            }
            .img2{
                // position: absolute;
                // // right: 7%;
                // right: 0%;
                // width: 11%;
                // padding-top: 50px;
                width: 180%;
                display: flex;
                justify-content: flex-end;

                img{
                    // width:%;
                    width: 100%;
                    max-width: 150px;
                    max-height: 130px;
                    right: 5%;
                }
            }
        }
       
    }
}

//FOOTER
footer{
    @include bgc;
    .footer-container{
        @include padding-lr(50px, 50px);
        @include padding-tb(50px, 20px);
    }
    .bottom{
         a{
             color: black
         }
    }
}


//MEDIA QUERIES
@include desktop{
    
}

@include desktop1 {
    header{
        nav{
            @include padding-lr(40px, 40px);
            .logo{
                    width: 297px;
            }

            .nav-menu{
                .nav-link{
                    margin-left: 0;
                    margin-right: 5px;
                    padding: 8px 13px;
                }
            }
        }
    }
    .hero{
        .hero-container{
            .female{
                img{
                    width: 300px;
                    margin: 0;
                }
            }
            .hero-text{
                h1{
                    font-size: 42px;
                }
                
            }
        }
    }
    .powered{
        .ingressive{
            .text1{
                p{
                    font-size: 20px;
                }
            }
    
            .text2{
                p{
                    font-size: 19px;
                }
            }
        }
    }

    .section6{
        .section6-container{
            .text{
                h4{
                    font-size: 30px;
                }
            }
            .paths{
                @include padding-lr(0px, 0px);
            }
        }
    }
    .section7{
        .section7-container{
            margin-left: 40px;
            margin-right: 40px;
            background-size: 130px;
            background-position: 14% 25%;
            .text{
                h4{
                font-size: 50px;

                }
            }
        }
    }
}

@include tab {
    header {
        nav{
            .nav-menu{
                .nav-item{
                    display: none;
                }
                .click{
                    .thumbs{
                        // margin-left: -100px;

                        div{
                            border-width: 12px;
                        }
                        p{
                            font-size: 17px;
                            padding-right: 28px;
                        }
                    }
                }
            }
        }
    }

    .hero{
        padding-top: 100px;
        .hero-container{
            @include padding-lr(30px, 30px);
            .female{
                // display: flex;
                // margin: auto;
                display: flex;
                justify-content: center;
                img{
                    //  width: 660px;
                    //  margin: 0px 30px;
                    width: 100%;
                    max-width: 660px;
                    
                    // margin: 0 80px;
                    // margin-left: 60px;
                    //  margin: 0;
                    
                        // height: 500px;
                }
            }
            .male {
                display: none;
            }
            .hero-text{
                background-position: 50px 340px;
                background-size: 54px auto;
                h1{
                    font-size: 44px;
                }
                .enroll{
                    background-position: 400px 100px;
                    background-size: 95px auto;
                    padding-bottom: 190px;
                }
            }
        }
    }

    .powered{
        @include padding-lr(30px, 30px);
        .ingressive{
        @include padding-tb(10px, 8px);

            .text1{
                text-align: center;
                p{
                    font-size: 24px;
                }
            }
            .image{
                padding-top: 10px;
                display: flex;
                justify-content: center;
                .I4G{
                    width: 100%;
                    max-width: 300px;
                }
            }
    
            .text2{
                p{
                    font-size: 18px;
                    text-align: center;
                    padding-left: 0;
                    padding-top: 30px;
                }
            }
        }
    }

    .section6{
        .section6-container{
            background-size: 90px;
            .text{
                background-size: 100px;
                margin-bottom: 0;

                h6{
                    font-size: 18px;
                }
                p{
                    margin-bottom: 0;
                }
                h4{
                    font-size: 30px;
                }
            }
           
            .paths{
                @include padding-lr(0px, 0px);
                padding-top: 20px;

                display: flex;
                flex-direction: column;
                .path{
                    width: 100%;
                   
                }
                .path1{
                    
                //    .hour{
                //     // display: flex;
                //     // align-items: flex-end;
                //     // justify-content: end;
                    
                //         img{
                //             margin-left: 380px;
                //         }
                //     }
                }
            }
        }
    }
   
    .section7{
        .section7-container{
            margin-left: 31px;
            margin-right: 31px;
            // background-size: 110px;
            background-size: 13%;
            background-position: 9% 12%;
            .text{
                h4{
                font-size: 39px;
                margin-bottom: 40px;
                }
                a{
                    button{
                        margin-top: 0;
                        margin-bottom: -80px;
                        padding: 8px 37px;
                    }
                }
            }
            .bottom{
                .img1{
                    margin-top: 30px;
                    img{
                    // max-width: 100px;
                    // height: 90px;
                    }
                }
                .img2{
                    margin-top: 40px;
                }
            }
        }
    }
}


@include tablet{
    .section7{
        .bg-top{
            display: none;
        }
    }
}

@include phone1 {
    header{
        nav{
            @include padding-lr(20px, 20px);
            .logo{
                width: 170px;
                // width: 20%
            }
        }
    }
    .hero{
        padding-top: 100px;
        .hero-container{
            .hero-text{
                background-image: none;
                h1{
                    font-size: 28px;
                }
                .line{
                    width: 100px;
                    margin-left: 0;
                    margin-top: -33px;
                }
                p{
                    font-size: 16px;
                    padding: 0;
                }
                .enroll{
                    background-position: 250px 70px;
                    background-size: 70px auto;
                    padding-bottom: 120px;
                    a{
                        button{
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }

    .powered{
        @include padding-lr(30px, 30px);
        .ingressive{
        @include padding-tb(10px, 8px);

            .text1{
                p{
                    font-size: 20px;
                }
            }
            .image{
                .I4G{
                    width: 100%;
                    max-width: 200px;
                }
            }
    
            .text2{
                p{
                    font-size: 17px;
                    padding-top: 30px;
                }
            }
        }
    }

    .section6{
        .section6-container{
            padding: 50px 20px;
            background-size: 50px;
            background-position: 92% 3%;
            .text{
                background-size: 80px;
                background-position: 3% 0%;
                h4{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
            }
            .paths{
                @include padding-lr(0px, 0px);
                display: flex;
                flex-direction: column;
                .path{
                    width: 100%;
                }
                .path1{
                    background-size: 80px;
                //    .hour{
                //     margin-left: 0px;
                //         img{
                //           width: 100%;
                //           min-width: 70px;
                          
                //         }
                //     }
                }
                .path2{
                    background-size: 130px;
                    // .time{
                    //      img{
                    //        width: 100%;
                    //        max-width: 150px;
                    //        min-width: 70px;
                           
                    //      }
                    //  }
                 }
            }
        }
    }
    .section7{
        .section7-container{
            margin-left: 10px;
            margin-right: 10px;
            .text{
                h4{
                    font-size: 36px;
                }
            }
        }
    }
}

@include phone{
    header{
        nav{
            .logo{
                width: 130px;
                min-width: 100px;
            }
            .nav-menu{
                .click{
                    .thumbs{
                        div{
                            // width: 40px;
                            img{
                                width: 40px;
                            }
                        }
                        p{
                           padding: 8px 20px;
                           padding-left: 4px;
                           font-size: 16px;
                           margin-left: -9px;
                        }
                    }
                }
            }
        }
    }

    .hero{
        .hero-container{
        @include padding-lr(0, 0);

            .hero-text{
                h1{
                    font-size: 28px;
                }
                
                p{
                    font-size: 16px;
                    padding: 0;
                }
                .enroll{
                    background-position: 200px 85px;
                    background-size: 70px auto;
                    padding-bottom: 120px;
                    a{
                        button{
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }

    .powered{
        .ingressive{
            .text1{
            @include padding-lr(0px, 0px);
            }
        }
    }

    .section6{
        .section6-container{
            .text{
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .section7{
        .section7-container{
            background-size: 20%;
            .top{
                .bend{
                    width: 22%;

                }            
            }
            .text{
                margin-left: 35px;
                margin-right: 35px;
                h4{
                    font-size: 26px;
                }
                a{
                    button{
                        font-size: 16px;
                    }
                }
            }
           .bottom{
                .img2{
                    margin-top: 50px;
                    img{
                        width: 80px;
                        height: 70px;
                    }
                }
           }
        }
    }
}

@include sphone{
    header{
        nav{
            .logo{
                width: 110px;
            }

            .nav-menu{
                .click{
                    .thumbs{
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}