@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
@import url("http://fonts.cdnfonts.com/css/graphik");
* {
  /* color: #1a1a20; */
  /* font-family: 'Averta-Regular', sans-serif; */
  /* font-family: 'Averta-BlackItalic', sans-serif; */
  font-family: 'Averta-Regular', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Graphik', sans-serif;
}

header nav {
  background-color: #fffdf5;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

header nav .nav-menu {
  list-style-type: none;
}

header nav .nav-menu .nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #787878;
  font-size: 18px;
  margin-right: 27px;
}

header nav .nav-menu .click .thumbs div {
  background-color: #e7332b;
  border-radius: 50%;
  border: 8px solid transparent;
}

header nav .nav-menu .click .thumbs div img {
  width: 50px;
  background-color: #e7332b;
  border-radius: 50%;
}

header nav .nav-menu .click .thumbs p {
  background-color: #e7332b;
  color: white;
  margin-right: 0;
  margin-left: -8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

header nav .nav-menu .click:hover {
  text-decoration: none;
}

.hero {
  padding-top: 190px;
  padding-bottom: 140px;
  padding-bottom: 0;
}

.hero .hero-container {
  padding-left: 70px;
  padding-right: 70px;
}

.hero .hero-container .female img {
  width: 370px;
}

.hero .hero-container .male {
  width: 100%;
}

.hero .hero-container .male img {
  padding-top: 16px;
  width: 300px;
}

.hero .hero-container .hero-text {
  background-image: url(../images/training-images/maleface.svg);
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: 50px 400px;
}

.hero .hero-container .hero-text h6 {
  font-size: 17px;
  color: #e7332b;
  font-weight: 400;
}

.hero .hero-container .hero-text h1 {
  font-size: 49px;
  font-weight: 600;
}

.hero .hero-container .hero-text .line {
  width: 180px;
  margin-left: 240px;
  margin-top: -20px;
  margin-bottom: 0;
}

.hero .hero-container .hero-text p {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 18px;
  color: #787878;
  margin-top: 17px;
}

.hero .hero-container .hero-text .enroll {
  background-image: url(../images/training-images/section1wire.svg);
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position: 320px 70px;
  padding-bottom: 140px;
}

.hero .hero-container .hero-text .enroll a button {
  padding: 8px 35px;
  color: white;
  background-color: #e7332b;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 30px;
}

.powered {
  padding-left: 70px;
  padding-right: 70px;
}

.powered .ingressive .text1 p {
  font-size: 24px;
  font-weight: 600;
}

.powered .ingressive .image .I4G {
  width: 230px;
}

.powered .ingressive .text2 p {
  font-size: 23px;
  text-align: end;
  padding-left: 10px;
}

.powered .ingressive .text2 a {
  color: #43b975;
  text-decoration: underline;
}

.section2 .section2-container {
  padding-top: 50px;
  padding-bottom: 130px;
}

.section2 .section2-container .top {
  padding-left: 40px;
  padding-right: 40px;
}

.section2 .section2-container .top .text h6 {
  font-size: 24px;
  color: #e7332b;
}

.section2 .section2-container .top .text p {
  font-size: 40px;
  font-weight: 600;
}

.section2 .section2-container .top .image img {
  width: 200px;
}

.section2 .section2-container .features {
  padding: 0;
  margin: 0;
  width: 100%;
}

.section2 .section2-container .features .feature-container {
  padding: 40px 70px;
}

.section2 .section2-container .features .feature-container .feature {
  background-color: #fffdf5;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 20px 7px #f5f3f3;
          box-shadow: 3px 3px 20px 7px #f5f3f3;
  -webkit-transition: top ease 0.1s;
  transition: top ease 0.1s;
  width: 100%;
}

.section2 .section2-container .features .feature-container .feature img {
  width: 130px;
  margin-left: 158px;
}

.section2 .section2-container .features .feature-container .feature .text {
  padding: 0px 40px;
}

.section2 .section2-container .features .feature-container .feature .text h1 {
  font-size: 56px;
  font-weight: 600;
}

.section2 .section2-container .features .feature-container .feature .text h3 {
  margin: 35px 0px 40px 0px;
  font-size: 36px;
}

.section2 .section2-container .features .feature-container .feature1, .section2 .section2-container .features .feature-container .feature2, .section2 .section2-container .features .feature-container .feature4, .section2 .section2-container .features .feature-container .feature5 {
  background-color: #e7332b;
  margin-bottom: 20px;
}

.section2 .section2-container .features .feature-container .feature1 {
  color: white;
}

.section3 {
  background-color: #e7332b;
  color: white;
}

.section3 .section3-container {
  padding: 80px 80px;
  padding-right: 30px;
}

.section3 .section3-container .first .text .p1 {
  font-size: 18px;
}

.section3 .section3-container .first .text h4 {
  font-size: 40px;
  font-weight: 600;
  margin-top: -13px;
  margin-bottom: 50px;
}

.section3 .section3-container .first .text .p2 {
  font-size: 17px;
}

.section3 .section3-container .first .text a button {
  font-size: 18px;
  padding: 7px 25px;
  margin: 30px 0;
  margin-bottom: 40px;
  color: #e7332b;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px -1.5px black;
          box-shadow: 0 1px 4px -1.5px black;
}

.section3 .section3-container .first .perks .perk {
  border: 2px solid white;
  border-radius: 40px;
  padding: 6px 12px;
  padding-right: 9px;
}

.section3 .section3-container .first .perks .perk img {
  width: 50px;
}

.section3 .section3-container .first .perks .perk p {
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 18px;
}

.section3 .section3-container .second img {
  width: 700px;
}

.section4 {
  background-color: #fffdf5;
}

.section4 .section4-container {
  padding: 70px 50px;
}

.section4 .section4-container .text h6 {
  color: #e7332b;
  font-size: 25px;
  font-weight: 500;
}

.section4 .section4-container .text h4 {
  font-size: 40px;
  padding-right: 650px;
  font-weight: 600;
}

.section4 .section4-container .areas .area {
  padding: 50px 30px;
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 20px 7px #f5f3f3;
          box-shadow: 3px 3px 20px 7px #f5f3f3;
}

.section4 .section4-container .areas .area h6 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section4 .section4-container .areas .area .courses img {
  margin-right: 12px;
  margin-bottom: 30px;
}

.section4 .section4-container .areas .area .courses .html, .section4 .section4-container .areas .area .courses .css {
  width: 35px;
}

.section4 .section4-container .areas .area .courses .js, .section4 .section4-container .areas .area .courses .adobe {
  width: 45px;
}

.section4 .section4-container .areas .area .courses .php, .section4 .section4-container .areas .area .courses .python, .section4 .section4-container .areas .area .courses .aws {
  width: 55px;
}

.section4 .section4-container .areas .area .courses .bash, .section4 .section4-container .areas .area .courses .django {
  width: 80px;
}

.section4 .section4-container .areas .area .courses .ubuntu, .section4 .section4-container .areas .area .courses .figma {
  width: 100px;
}

.section4 .section4-container .areas .area .courses .laravel, .section4 .section4-container .areas .area .courses .react {
  width: 75px;
}

.section4 .section4-container .areas .area p {
  color: #787878;
  padding: 10px 0px;
}

.section4 .section4-container .enroll a button {
  font-size: 18px;
  padding: 10px 40px;
  margin-bottom: 40px;
  margin-top: 50px;
  color: white;
  background-color: #e7332b;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px -1.5px black;
          box-shadow: 0 1px 4px -1.5px black;
}

.section5 {
  background-color: #fffdf5;
  color: black;
}

.section5 .section5-container {
  padding: 50px 50px;
}

.section5 .section5-container .text {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section5 .section5-container .text p {
  font-size: 25px;
  color: #e7332b;
}

.section5 .section5-container .text h4 {
  margin-top: -20px;
  font-size: 39px;
  font-weight: 600;
}

.section5 .section5-container .faqs {
  padding: 50px 100px;
}

.section5 .section5-container .faqs .question {
  border: 1px solid #787878;
  padding: 30px 0px 10px 20px;
}

.section5 .section5-container .faqs .question p {
  font-size: 18px;
  font-weight: 600;
}

.section5 .section5-container .bottom {
  margin-top: 40px;
  margin-bottom: 30px;
}

.section5 .section5-container .bottom p {
  margin-right: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #787878;
}

.section5 .section5-container .bottom a button {
  background-color: #e7332b;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 6px 20px;
  color: white;
}

.section6 {
  background-color: #fffdf5;
  color: #1b1a20;
}

.section6 .section6-container {
  padding: 50px 50px;
}

.section6 .section6-container .text {
  margin-bottom: 50px;
}

.section6 .section6-container .text h6 {
  font-size: 25px;
  color: #e7332b;
  font-weight: 400;
}

.section6 .section6-container .text h4 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 26px;
}

.section6 .section6-container .text p {
  font-size: 18px;
  margin-bottom: 60px;
}

.section6 .section6-container .paths {
  padding-left: 60px;
  padding-right: 60px;
}

.section6 .section6-container .paths .path {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 70px;
  padding: 70px 50px 50px 50px;
}

.section6 .section6-container .paths .path h4 {
  font-size: 33px;
  font-weight: 600;
}

.section6 .section6-container .paths .path .p1 {
  margin-top: 26px;
}

.section6 .section6-container .paths .path h6 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}

.section6 .section6-container .paths .path ul li {
  margin-left: -27px;
}

.section6 .section6-container .paths .path ul li a {
  color: white;
  text-decoration: underline;
}

.section6 .section6-container .paths .path ul li img {
  width: 15px;
  margin-left: 6px;
}

.section6 .section6-container .paths .path1 {
  margin-right: 45px;
}

.section6 .section6-container .paths .path1 ul p {
  margin-left: -27px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section6 .section6-container .paths .path1 .hour1 {
  width: 100px;
  margin-left: 180px;
  margin-top: -70px;
}

.section6 .section6-container .paths .path2 ul li {
  margin-bottom: 15px;
}

.section6 .section6-container .paths .path2 .post li {
  margin-bottom: 0px;
}

.section7 {
  color: white;
}

.section7 .section7-container {
  padding: 70px 0;
  background-color: #e7332b;
  margin: 50px 40px;
  border-radius: 27px;
}

.section7 .section7-container h4 {
  font-size: 54px;
  font-weight: 600;
}

.section7 .section7-container a button {
  font-size: 18px;
  padding: 10px 40px;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #e7332b;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px -1.5px black;
          box-shadow: 0 1px 4px -1.5px black;
}

footer {
  background-color: #fffdf5;
}

footer .footer-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer .bottom a {
  color: black;
}

@media (max-width: 1130px) {
  header nav {
    padding-left: 40px;
    padding-right: 40px;
  }
  header nav .logo {
    width: 297px;
  }
  header nav .nav-menu .nav-link {
    margin-left: 0;
    margin-right: 5px;
    padding: 8px 13px;
  }
  .hero .hero-container .female img {
    width: 300px;
    margin: 0;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 42px;
  }
  .powered .ingressive .text1 p {
    font-size: 20px;
  }
  .powered .ingressive .text2 p {
    font-size: 19px;
  }
}

@media (max-width: 992px) {
  header nav .nav-menu .nav-item {
    display: none;
  }
  header nav .nav-menu .click .thumbs div {
    border-width: 12px;
  }
  header nav .nav-menu .click .thumbs p {
    font-size: 17px;
    padding-right: 28px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .hero-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero .hero-container .female {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero-container .female img {
    width: 100%;
    max-width: 660px;
  }
  .hero .hero-container .male {
    display: none;
  }
  .hero .hero-container .hero-text {
    background-position: 50px 340px;
    background-size: 54px auto;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 44px;
  }
  .hero .hero-container .hero-text .enroll {
    background-position: 400px 100px;
    background-size: 95px auto;
    padding-bottom: 190px;
  }
  .powered {
    padding-left: 30px;
    padding-right: 30px;
  }
  .powered .ingressive {
    padding-top: 10px;
    padding-bottom: 8px;
  }
  .powered .ingressive .text1 {
    text-align: center;
  }
  .powered .ingressive .text1 p {
    font-size: 24px;
  }
  .powered .ingressive .image {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .powered .ingressive .image .I4G {
    width: 100%;
    max-width: 300px;
  }
  .powered .ingressive .text2 p {
    font-size: 18px;
    text-align: center;
    padding-left: 0;
    padding-top: 30px;
  }
}

@media (max-width: 590px) {
  header nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  header nav .logo {
    width: 170px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .hero-container .hero-text {
    background-image: none;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 28px;
  }
  .hero .hero-container .hero-text .line {
    width: 100px;
    margin-left: 0;
    margin-top: -33px;
  }
  .hero .hero-container .hero-text p {
    font-size: 16px;
    padding: 0;
  }
  .hero .hero-container .hero-text .enroll {
    background-position: 250px 70px;
    background-size: 70px auto;
    padding-bottom: 120px;
  }
  .hero .hero-container .hero-text .enroll a button {
    padding: 8px 20px;
  }
  .powered {
    padding-left: 30px;
    padding-right: 30px;
  }
  .powered .ingressive {
    padding-top: 10px;
    padding-bottom: 8px;
  }
  .powered .ingressive .text1 p {
    font-size: 20px;
  }
  .powered .ingressive .image .I4G {
    width: 100%;
    max-width: 200px;
  }
  .powered .ingressive .text2 p {
    font-size: 17px;
    padding-top: 30px;
  }
}

@media (max-width: 425px) {
  header nav .logo {
    width: 130px;
    min-width: 100px;
  }
  header nav .nav-menu .click .thumbs div img {
    width: 40px;
  }
  header nav .nav-menu .click .thumbs p {
    padding: 8px 20px;
    padding-left: 4px;
    font-size: 16px;
    margin-left: -9px;
  }
  .hero .hero-container {
    padding-left: 0;
    padding-right: 0;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 28px;
  }
  .hero .hero-container .hero-text p {
    font-size: 16px;
    padding: 0;
  }
  .hero .hero-container .hero-text .enroll {
    background-position: 200px 85px;
    background-size: 70px auto;
    padding-bottom: 120px;
  }
  .hero .hero-container .hero-text .enroll a button {
    padding: 8px 20px;
  }
  .powered .ingressive .text1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 336px) {
  header nav .logo {
    width: 110px;
  }
  header nav .nav-menu .click .thumbs p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=training.css.map */