@import '../styles/general.scss';

@import '../styles/variables&mixins';
@import url('http://fonts.cdnfonts.com/css/graphik');

*{
    font-family: 'Graphik', sans-serif;
}

body{
    background-color: #fffdf5;
}

header {
   nav {
    background-color: #fffdf5;

    @include nav;
    @include padding-tb(10px, 10px);
    @include padding-lr(50px, 50px);
        .nav-menu {
            @include nav-item;
            .nav-link {
                @include nav-link;
                font-size: 18px;
                margin-left: 27px;

            }
            .click {
                .thumbs {
                    div{
                        background-color: $red;
                        border-radius: 50%;
                        border: 8px solid transparent;
                        // margin: 6px 0px 0px 5px;

                        img {
                            width: 50px;
                            // height: 60px;
                            background-color: $red;
                            border-radius: 50%;
                        }
                    }
                    p{
                        background-color: $red;
                        color: $white;
                        margin-left: -8px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        // padding-right: 18px;
                    }
                }
            }

            .click:hover{
                text-decoration: none;
            }
        }
   }
}

//HERO
.hero{
    // @include bgc;
    @include padding-tb(190px, 140px);
    .hero-container{
    @include padding-lr(70px, 70px);

        .female{
            img {
                // height: 70px
            // width: 350px;
            // height: 350px;
            // width: 30%;
            // width: 600px;
            // width: 200px;
            // width: 390px;
            // width: 360px;
            // padding-top: 16px;
            // margin-top: 80px;
            width: 370px;
            margin-bottom: -100px;
            }
        }

        .male{
            width: 100%;
          img{
              // width: 343px;
            // height: 418px;
            padding-top: 16px;
            width: 300px;
            // width: 30%;
          }
        }

        .hero-text{
            // width: 30%;
            h6{
                font-size: 17px;
                color: $red;
                font-weight: 400;
                // font-weight: lighter;
            }
            h1{
                font-size: 50px;
                font-weight: 600;
                // width: 520px
            } 
            p{
                @include padding-lr(80px, 80px);
                font-size: 18px;
                color: $black;
                margin-top: 50px;
            }
            a{
                button {
                    padding: 8px 35px;
                    color: white;
                    background-color: $red;
                    border: 1px solid transparent;
                    border-radius: 30px;
                    font-size: 18px;
                    margin-top: 30px;
                }
            }
        }
    }
}

.powered{
    @include padding-lr(70px, 70px);
    .ingressive{
        .text1{
            p{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .image{
            .I4G{
                width: 230px;
            }
        }

        .text2{
            p{
                font-size: 25px;
                // font-weight: 600;
                text-align: end;
            }
            a{
                color: #43b975;
                text-decoration: underline;
            }
        }
    }
}

.section2{
    .section2-container{
        @include padding-lr(40px, 40px);
        @include padding-tb(50px, 130px);
        .top{
            .text{
                h6 {
                    font-size: 24px;
                    color: $red;
                }
                p{
                    font-size: 40px;
                    font-weight: 600;
                    // padding-right: 60px;
                }
            }
            .image {
                img{
                    width: 200px;
                }
            }
        }
        .features{
            padding: 0;
            margin: 0;
            width: 100%;
            .feature-container{
                @include padding-lr(30px, 30px);
                .feature{
                    // background-image: url(../images/training-images/curve3.svg);
                    // background-repeat: no-repeat;
                    // top: 0;
                    // left: 0;
                    // margin: 24px 0px 0px 24px;
                    // padding: 40px 0px 60px 0px;
                    border-radius: 30px;
                    box-shadow: 3px 3px 20px 7px rgb(245, 243, 243);
                    // top: 0;
                    transition: top ease 0.1s;
                    padding: 70px 50px;
                    // margin-top: 30px;
                    
                    // margin: 30px 15px;
                    // margin: 10px
                    // width: 28%;
                    //  margin-top: 10px;
                    // margin-right: 10px;
                    // margin: 10px;
                    
                }
    
                .feature:hover{
                    // top: -15px;
                }
                .feature1, .feature2, .feature4, .feature5{
                    background-color: $red;
                  // margin-right: 10px;
    
                }


            }
        }
    }
}

//SECTION3
.section3{
    background-color: $red;
    color: $white;
    .section3-container{
        padding: 80px 80px;
        padding-right: 30px;
        .first{
            .text{
               .p1{
                    font-size: 18px;
                }
                h4{
                    font-size: 40px;
                    font-weight: 600;
                    margin-top: -13px;
                    margin-bottom: 50px;
                }
                .p2{
                    font-size: 17px;
                }
                a{
                    button{
                        font-size: 18px;
                        padding: 7px 25px;
                        margin: 30px 0;
                        margin-bottom: 40px;
                        color: $red;
                        background-color: $white;
                        border: 1px solid transparent;
                        border-radius: 30px;
                        box-shadow: 0 1px 4px -1.5px black;
                    }
                }
            }
            .perks{
                .perk{
                    border: 2px solid $white;
                    border-radius: 40px;
                    padding: 6px 12px;
                    padding-right: 9px;
                    img{
                        width: 50px;
                    }
                    p{
                        text-align: center;
                        margin-top: 15px;
                        margin-left: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
        .second{
            img{
                width: 700px;
            }
        } 
    }
}

//SECTION3
.section4{
    .section4-container{
        padding: 70px 50px;
        .text{
            h6{
                color: $red;
                font-size: 25px;
                font-weight: 500;
            }
            h4{
                font-size: 40px;
                padding-right: 650px;
                font-weight: 600;
            }
        }
        .areas{
            .area{
                padding: 50px 30px;
                background: rgb(175, 174, 127);
                h6{
                    font-size: 19px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .courses{
                    img{
                        margin-right: 12px;
                        margin-bottom: 30px;

                    }
                    .html, .css{
                        width: 35px;
                    }
                    .js, .adobe{
                        width: 45px;
                    }
                    .php, .python, .aws{
                        width: 55px;
                    }
                    .bash, .django{
                        width: 80px;
                    }
                    .ubuntu, .figma {
                        width: 100px;
                    }
                    .laravel, .react{
                        width: 75px;
                    }
                }
                p{
                    color: $black;
                    padding: 10px 0px;
                }
            }
        }
        .enroll{
            a{
                button{
                    font-size: 18px;
                    padding: 10px 30px;
                    margin: 30px 0;
                    margin-bottom: 40px;
                    color: $white;
                    background-color: $red;
                    border: 1px solid transparent;
                    border-radius: 30px;
                    box-shadow: 0 1px 4px -1.5px black;
                }
            }
        }
        
    }
}

//SECTION5
.section5{
    background-color: $red;
    color: $white;
    .section5-container{
        padding: 50px 50px
        
    }
}

//SECTION6
.section6{
    background-color: $red;
    color: $white;
    .section6-container{
        padding: 50px 50px
        
    }
}

//SECTION7
.section7{
    background-color: $red;
    color: $white;
    .section7-container{
        padding: 50px 50px
        
    }
}

//FOOTER
footer{
    @include bgc;
    .footer-container{
        @include padding-lr(50px, 50px);
        @include padding-tb(50px, 20px);
    }
    .bottom{
         a{
             color: black
         }
    }
}


//MEDIA QUERIES
@include desktop {
    header{
        nav{
            @include padding-lr(40px, 40px);
            .logo{
                    width: 297px;
            }

            .nav-menu{
                .nav-link{
                    margin-left: 0;
                    padding: 8px 13px;
                }
            }
        }
    }
}

@include tab {
    header {
        nav{
            .nav-menu{
                .nav-item{
                    display: none;
                }
            }
        }
    }
}


@include phone1 {
    header{
        nav{
            @include padding-lr(20px, 20px);
            .logo{
                width: 170px;
                // width: 20%
            }
        }
    }
}

@include phone{
    header{
        nav{
            .logo{
                width: 130px;
                min-width: 100px;
            }
            .nav-menu{
                .click{
                    .thumbs{
                        div{
                            // width: 40px;
                            img{
                                width: 40px;
                            }
                        }
                        p{
                           padding: 8px 20px;
                           padding-left: 4px;
                           font-size: 16px;
                           margin-left: -9px;
                        }
                    }
                }
            }
        }
    }
}

@include sphone{
    header{
        nav{
            .logo{
                width: 110px;
            }

            .nav-menu{
                .click{
                    .thumbs{
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}