@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
@import url("http://fonts.cdnfonts.com/css/graphik");
* {
  /* color: #1a1a20; */
  /* font-family: 'Averta-Regular', sans-serif; */
  /* font-family: 'Averta-BlackItalic', sans-serif; */
  font-family: 'Averta-Regular', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Graphik', sans-serif;
}

header nav {
  background-color: #fffdf5;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

header nav .nav-menu {
  list-style-type: none;
}

header nav .nav-menu .nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #787878;
  font-size: 18px;
  margin-right: 27px;
}

header nav .nav-menu .click .thumbs div {
  background-color: #e7332b;
  border-radius: 50%;
  border: 8px solid transparent;
}

header nav .nav-menu .click .thumbs div img {
  width: 50px;
  background-color: #e7332b;
  border-radius: 50%;
}

header nav .nav-menu .click .thumbs p {
  background-color: #e7332b;
  color: white;
  margin-right: 0;
  margin-left: -8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

header nav .nav-menu .click:hover {
  text-decoration: none;
}

.hero {
  padding-top: 190px;
  padding-bottom: 140px;
  padding-bottom: 0;
}

.hero .hero-container {
  padding-left: 70px;
  padding-right: 70px;
}

.hero .hero-container .female img {
  width: 370px;
}

.hero .hero-container .male {
  width: 100%;
}

.hero .hero-container .male img {
  padding-top: 16px;
  width: 300px;
}

.hero .hero-container .hero-text {
  background-image: url(../images/training-images/maleface.svg);
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: 50px 400px;
}

.hero .hero-container .hero-text h6 {
  font-size: 17px;
  color: #e7332b;
  font-weight: 400;
}

.hero .hero-container .hero-text h1 {
  font-size: 49px;
  font-weight: 600;
}

.hero .hero-container .hero-text .line {
  width: 180px;
  margin-left: 240px;
  margin-top: -20px;
  margin-bottom: 0;
}

.hero .hero-container .hero-text p {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 18px;
  color: #787878;
  margin-top: 17px;
}

.hero .hero-container .hero-text .enroll {
  background-image: url(../images/training-images/section1wire.svg);
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position: 320px 70px;
  padding-bottom: 140px;
}

.hero .hero-container .hero-text .enroll a button {
  padding: 8px 35px;
  color: white;
  background-color: #e7332b;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 30px;
}

.powered {
  padding-left: 70px;
  padding-right: 70px;
}

.powered .ingressive .text1 p {
  font-size: 24px;
  font-weight: 600;
}

.powered .ingressive .image .I4G {
  width: 230px;
}

.powered .ingressive .text2 p {
  font-size: 23px;
  text-align: end;
  padding-left: 10px;
}

.powered .ingressive .text2 a {
  color: #43b975;
  text-decoration: underline;
}

.section2 .section2-container {
  padding-top: 50px;
  padding-bottom: 130px;
  padding-left: 40px;
  padding-right: 40px;
}

.section2 .section2-container .top {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section2 .section2-container .top .text {
  width: 60%;
}

.section2 .section2-container .top .text h6 {
  font-size: 24px;
  color: #e7332b;
}

.section2 .section2-container .top .text p {
  font-size: 40px;
  font-weight: 600;
}

.section2 .section2-container .top .image {
  width: 30%;
}

.section2 .section2-container .top .image img {
  width: 200px;
}

.section2 .section2-container .features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .section2-container .features .feature {
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: 100% 0;
  width: 31%;
  height: 100%;
  max-height: 470px;
  margin: 11px;
  padding: 50px 40px;
  padding-top: 70px;
  background-color: #fffdf5;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 20px 7px #f5f3f3;
          box-shadow: 3px 3px 20px 7px #f5f3f3;
  -webkit-transition: top ease 0.4s;
  transition: top ease 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .section2-container .features .feature .text h1 {
  font-size: 60px;
  font-weight: 600;
}

.section2 .section2-container .features .feature .text h3 {
  margin: 35px 0px 40px 0px;
  font-size: 36px;
}

.section2 .section2-container .features .feature .text p {
  font-size: 18px;
}

.section2 .section2-container .features .feature:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section2 .section2-container .features .feature1 {
  color: white;
  background-image: url(../images/training-images/curve1.png);
  background-color: #e7332b;
}

.section2 .section2-container .features .feature2 {
  background-image: url(../images/training-images/curve.svg);
}

.section2 .section2-container .features .feature3 {
  background-image: url(../images/training-images/curve3.svg);
}

.section2 .section2-container .features .feature4 {
  background-image: url(../images/training-images/curve4.svg);
}

.section2 .section2-container .features .feature5 {
  background-image: url(../images/training-images/curve5.svg);
}

.section2 .section2-container .features .feature5 .text p {
  font-size: 17px;
}

.section2 .section2-container .features .feature6 {
  background-image: url(../images/training-images/curve6.svg);
}

.section3 {
  background-color: #e7332b;
  color: white;
}

.section3 .section3-container {
  padding: 80px 80px;
  padding-right: 30px;
}

.section3 .section3-container .first .text .p1 {
  font-size: 18px;
}

.section3 .section3-container .first .text h4 {
  font-size: 40px;
  font-weight: 600;
  margin-top: -13px;
  margin-bottom: 50px;
}

.section3 .section3-container .first .text .p2 {
  font-size: 17px;
}

.section3 .section3-container .first .text a button {
  font-size: 18px;
  padding: 7px 25px;
  margin: 30px 0;
  margin-bottom: 40px;
  color: #e7332b;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px -1.5px black;
          box-shadow: 0 1px 4px -1.5px black;
}

.section3 .section3-container .first .perks .perk {
  border: 2px solid white;
  border-radius: 40px;
  padding: 6px 12px;
  padding-right: 9px;
}

.section3 .section3-container .first .perks .perk img {
  width: 50px;
}

.section3 .section3-container .first .perks .perk p {
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 18px;
}

.section3 .section3-container .second img {
  width: 700px;
}

.section4 {
  background-color: #fffdf5;
}

.section4 .section4-container {
  padding: 70px 50px;
  padding-bottom: 0px;
}

.section4 .section4-container .text {
  margin-left: 30px;
}

.section4 .section4-container .text h6 {
  color: #e7332b;
  font-size: 24px;
  font-weight: 500;
}

.section4 .section4-container .text h4 {
  font-size: 40px;
  padding-right: 650px;
  font-weight: 600;
  padding-bottom: 30px;
}

.section4 .section4-container .areas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .section4-container .areas .area {
  padding: 50px 30px;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 20px 7px #f5f3f3;
          box-shadow: 3px 3px 20px 7px #f5f3f3;
  width: 31%;
  height: 100%;
  height: 330px;
  margin: 11px;
  -webkit-transition: top ease 0.4s;
  transition: top ease 0.4s;
}

.section4 .section4-container .areas .area h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section4 .section4-container .areas .area .courses img {
  margin-right: 12px;
}

.section4 .section4-container .areas .area .courses .html, .section4 .section4-container .areas .area .courses .css {
  width: 35px;
}

.section4 .section4-container .areas .area .courses .js, .section4 .section4-container .areas .area .courses .adobe {
  width: 45px;
}

.section4 .section4-container .areas .area .courses .php, .section4 .section4-container .areas .area .courses .python, .section4 .section4-container .areas .area .courses .aws {
  width: 55px;
}

.section4 .section4-container .areas .area .courses .bash, .section4 .section4-container .areas .area .courses .django {
  width: 80px;
}

.section4 .section4-container .areas .area .courses .ubuntu, .section4 .section4-container .areas .area .courses .figma {
  width: 100px;
}

.section4 .section4-container .areas .area .courses .laravel, .section4 .section4-container .areas .area .courses .react {
  width: 75px;
}

.section4 .section4-container .areas .area p {
  color: #787878;
  padding: 10px 0px;
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .section4-container .enroll a button {
  font-size: 18px;
  padding: 10px 40px;
  margin-bottom: 40px;
  margin-top: 50px;
  color: white;
  background-color: #e7332b;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px -1.5px black;
          box-shadow: 0 1px 4px -1.5px black;
}

.section5 {
  background-color: #fffdf5;
  color: black;
}

.section5 .section5-container {
  padding: 50px 50px;
}

.section5 .section5-container .text {
  background-image: url(../images/training-images/section7wire.svg);
  background-repeat: no-repeat;
  background-size: 137px;
  background-position: 15% 0%;
  padding-top: 80px;
  margin-bottom: 50px;
}

.section5 .section5-container .text p {
  font-size: 25px;
  color: #e7332b;
}

.section5 .section5-container .text h4 {
  margin-top: -20px;
  font-size: 39px;
  font-weight: 600;
}

.section5 .section5-container .faqs {
  padding: 50px 100px;
  color: #333333;
}

.section5 .section5-container .faqs .question {
  border: 1px solid rgba(66, 35, 114, 0.43);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px 10px 20px;
}

.section5 .section5-container .faqs .question p {
  font-size: 18px;
  font-weight: 600;
  padding-right: 40px;
}

.section5 .section5-container .bottom {
  margin-top: 40px;
  margin-bottom: 30px;
}

.section5 .section5-container .bottom p {
  margin-right: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #333333;
}

.section5 .section5-container .bottom a button {
  background-color: #e7332b;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 6px 20px;
  color: white;
}

.section6 {
  background-color: #fffdf5;
  color: black;
}

.section6 .section6-container {
  padding: 50px 50px;
  background-image: url(../images/training-images/Star1.svg);
  background-repeat: no-repeat;
  background-size: 135px;
  background-position: 92% 5%;
}

.section6 .section6-container .text {
  background-image: url(../images/training-images/section7wire.svg);
  background-repeat: no-repeat;
  background-size: 137px;
  background-position: 15% 0%;
  padding-top: 80px;
  margin-bottom: 50px;
}

.section6 .section6-container .text h6 {
  font-size: 25px;
  color: #e7332b;
  font-weight: 400;
}

.section6 .section6-container .text h4 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 26px;
}

.section6 .section6-container .text p {
  font-size: 18px;
  margin-bottom: 60px;
  color: #333333;
}

.section6 .section6-container .paths {
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section6 .section6-container .paths .path {
  width: 50%;
  background-color: #1b1a20;
  color: white;
  border-radius: 70px;
  padding: 70px 50px 50px 50px;
  margin-top: 40px;
}

.section6 .section6-container .paths .path h6 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}

.section6 .section6-container .paths .path h4 {
  font-size: 33px;
  font-weight: 600;
}

.section6 .section6-container .paths .path .p1 {
  margin-top: 26px;
}

.section6 .section6-container .paths .path ul li {
  margin-left: -27px;
}

.section6 .section6-container .paths .path ul li a {
  color: white;
  text-decoration: underline;
}

.section6 .section6-container .paths .path ul li img {
  width: 15px;
  margin-left: 6px;
}

.section6 .section6-container .paths .path1 {
  background-image: url(../images/training-images/hour.png);
  background-repeat: no-repeat;
  background-size: 106px;
  background-position: 92% 92%;
  margin-right: 40px;
}

.section6 .section6-container .paths .path1 ul p {
  margin-left: -27px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section6 .section6-container .paths .path2 {
  background-image: url(../images/training-images/time.png);
  background-repeat: no-repeat;
  background-size: 185px;
  background-position: 89% 87%;
}

.section6 .section6-container .paths .path2 ul li {
  margin-bottom: 15px;
}

.section6 .section6-container .paths .path2 .post li {
  margin-bottom: 0px;
}

.section7 {
  color: white;
}

.section7 .bg-top img {
  width: 9%;
  margin: 20px 0px -20px 50px;
}

.section7 .section7-container {
  background-color: #e7332b;
  margin: 50px 60px;
  border-radius: 27px;
  background-image: url(../images/training-images/round.svg);
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: 14% 10%;
}

.section7 .section7-container .top {
  padding-top: -70px;
}

.section7 .section7-container .top .bend {
  position: absolute;
  right: 5%;
  width: 11%;
}

.section7 .section7-container .text {
  padding: 70px 0px;
  padding-bottom: 0;
}

.section7 .section7-container .text p {
  font-size: 18px;
}

.section7 .section7-container .text h4 {
  font-size: 54px;
  font-weight: 600;
}

.section7 .section7-container .text a button {
  font-size: 18px;
  padding: 10px 40px;
  margin-bottom: 0px;
  margin-top: 50px;
  color: #e7332b;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px -1.5px black;
          box-shadow: 0 1px 4px -1.5px black;
}

.section7 .section7-container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section7 .section7-container .bottom .img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section7 .section7-container .bottom .img1 img {
  width: 120%;
}

.section7 .section7-container .bottom .img2 {
  width: 180%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section7 .section7-container .bottom .img2 img {
  width: 100%;
  max-width: 150px;
  max-height: 130px;
  right: 5%;
}

footer {
  background-color: #fffdf5;
}

footer .footer-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer .footer-container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .top .socials a img {
  padding-right: 5px;
}

footer .footer-container .top .socials a .youtube {
  padding-right: 0;
}

footer .footer-container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
}

footer .footer-container .bottom .text a {
  color: #1a1b20;
}

footer .footer-container .bottom .text .t1 {
  padding-right: 16px;
}

@media (max-width: 1130px) {
  header nav {
    padding-left: 40px;
    padding-right: 40px;
  }
  header nav .logo {
    width: 297px;
  }
  header nav .nav-menu .nav-link {
    margin-left: 0;
    margin-right: 5px;
    padding: 8px 13px;
  }
  .hero .hero-container .female img {
    width: 300px;
    margin: 0;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 42px;
  }
  .powered .ingressive .text1 p {
    font-size: 20px;
  }
  .powered .ingressive .text2 p {
    font-size: 19px;
  }
  .section2 .section2-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section2 .section2-container .top .text {
    margin-left: 30px;
  }
  .section2 .section2-container .top .text h6 {
    font-size: 20px;
  }
  .section2 .section2-container .top .text p {
    font-size: 30px;
  }
  .section2 .section2-container .top .image img {
    width: 200px;
  }
  .section2 .section2-container .features {
    width: 100%;
  }
  .section2 .section2-container .features .feature {
    width: 46%;
  }
  .section4 .section4-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section4 .section4-container .text {
    margin-left: 30px;
  }
  .section4 .section4-container .text h6 {
    font-size: 20px;
  }
  .section4 .section4-container .text h4 {
    font-size: 30px;
    padding-right: 0;
    padding-bottom: 60px;
  }
  .section4 .section4-container .areas {
    width: 100%;
  }
  .section4 .section4-container .areas .area {
    width: 46%;
  }
  .section6 .section6-container .text h4 {
    font-size: 30px;
  }
  .section6 .section6-container .paths {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section7 .section7-container {
    margin-left: 40px;
    margin-right: 40px;
    background-size: 130px;
    background-position: 14% 25%;
  }
  .section7 .section7-container .text h4 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  header nav .nav-menu .nav-item {
    display: none;
  }
  header nav .nav-menu .click .thumbs div {
    border-width: 12px;
  }
  header nav .nav-menu .click .thumbs p {
    font-size: 17px;
    padding-right: 28px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .hero-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero .hero-container .female {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero-container .female img {
    width: 100%;
    max-width: 660px;
  }
  .hero .hero-container .male {
    display: none;
  }
  .hero .hero-container .hero-text {
    background-position: 50px 340px;
    background-size: 54px auto;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 44px;
  }
  .hero .hero-container .hero-text .enroll {
    background-position: 400px 100px;
    background-size: 95px auto;
    padding-bottom: 190px;
  }
  .powered {
    padding-left: 30px;
    padding-right: 30px;
  }
  .powered .ingressive {
    padding-top: 10px;
    padding-bottom: 8px;
  }
  .powered .ingressive .text1 {
    text-align: center;
  }
  .powered .ingressive .text1 p {
    font-size: 24px;
  }
  .powered .ingressive .image {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .powered .ingressive .image .I4G {
    width: 100%;
    max-width: 300px;
  }
  .powered .ingressive .text2 p {
    font-size: 18px;
    text-align: center;
    padding-left: 0;
    padding-top: 30px;
  }
  .section2 .section2-container .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .section2 .section2-container .top .text {
    width: 90%;
  }
  .section2 .section2-container .top .text p {
    width: 100%;
  }
  .section5 .section5-container .text {
    background-size: 100px;
  }
  .section5 .section5-container .faqs {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section6 .section6-container {
    background-size: 90px;
  }
  .section6 .section6-container .text {
    background-size: 100px;
    margin-bottom: 0;
  }
  .section6 .section6-container .text h6 {
    font-size: 18px;
  }
  .section6 .section6-container .text p {
    margin-bottom: 0;
  }
  .section6 .section6-container .text h4 {
    font-size: 30px;
  }
  .section6 .section6-container .paths {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section6 .section6-container .paths .path {
    width: 100%;
  }
  .section7 .section7-container {
    margin-left: 31px;
    margin-right: 31px;
    background-size: 13%;
    background-position: 9% 12%;
  }
  .section7 .section7-container .text h4 {
    font-size: 39px;
    margin-bottom: 40px;
  }
  .section7 .section7-container .text a button {
    margin-top: 0;
    margin-bottom: -80px;
    padding: 8px 37px;
  }
  .section7 .section7-container .bottom .img1 {
    margin-top: 30px;
  }
  .section7 .section7-container .bottom .img2 {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .section2 .section2-container .top .text h6 {
    font-size: 18px;
  }
  .section2 .section2-container .top .text p {
    font-size: 24px;
  }
  .section2 .section2-container .top .image {
    display: none;
  }
  .section2 .section2-container .features .feature {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section4 .section4-container .text h6 {
    font-size: 18px;
  }
  .section4 .section4-container .text p {
    font-size: 24px;
  }
  .section4 .section4-container .areas .area {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section5 .section5-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section5 .section5-container .text p {
    font-size: 18px;
    margin-bottom: 1px;
  }
  .section5 .section5-container .text h4 {
    font-size: 24px;
    margin-top: 0px;
  }
  .section5 .section5-container .faqs {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section5 .section5-container .faqs .question p {
    font-size: 16px;
  }
  .section5 .section5-container .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section5 .section5-container .bottom p {
    margin-right: 0px;
    margin-top: 0px;
    font-size: 16px;
  }
  .section7 .bg-top {
    display: none;
  }
  footer .footer-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  footer .footer-container .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-container .top .logo img {
    width: 280px;
  }
  footer .footer-container .top .socials {
    padding-top: 25px;
  }
  footer .footer-container .top .socials a img {
    padding-right: 0px;
  }
  footer .footer-container .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 25px;
  }
  footer .footer-container .bottom p {
    width: 95%;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
    padding-top: 20px;
  }
  footer .footer-container .bottom .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .footer-container .bottom .text .t1 {
    padding-right: 0;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  footer .footer-container .bottom .text .t2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 590px) {
  header nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  header nav .logo {
    width: 170px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .hero-container .hero-text {
    background-image: none;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 28px;
  }
  .hero .hero-container .hero-text .line {
    width: 100px;
    margin-left: 0;
    margin-top: -33px;
  }
  .hero .hero-container .hero-text p {
    font-size: 16px;
    padding: 0;
  }
  .hero .hero-container .hero-text .enroll {
    background-position: 250px 70px;
    background-size: 70px auto;
    padding-bottom: 120px;
  }
  .hero .hero-container .hero-text .enroll a button {
    padding: 8px 20px;
  }
  .powered {
    padding-left: 30px;
    padding-right: 30px;
  }
  .powered .ingressive {
    padding-top: 10px;
    padding-bottom: 8px;
  }
  .powered .ingressive .text1 p {
    font-size: 20px;
  }
  .powered .ingressive .image .I4G {
    width: 100%;
    max-width: 200px;
  }
  .powered .ingressive .text2 p {
    font-size: 17px;
    padding-top: 30px;
  }
  .section2 .section2-container .top .text {
    margin-left: 0;
  }
  .section2 .section2-container .top .text h6 {
    font-size: 18px;
  }
  .section2 .section2-container .top .text p {
    font-size: 24px;
    margin-bottom: 0;
  }
  .section2 .section2-container .top .image {
    display: none;
  }
  .section2 .section2-container .features .feature {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  .section2 .section2-container .features .feature .text h1 {
    font-size: 44px;
  }
  .section2 .section2-container .features .feature .text h3 {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 26px;
  }
  .section4 .section4-container {
    padding-left: 3px;
    padding-right: 3px;
  }
  .section4 .section4-container .text {
    margin-left: 5px;
  }
  .section4 .section4-container .text h4 {
    font-size: 24px;
  }
  .section5 .section5-container .text {
    background-size: 80px;
    background-position: 3% 0%;
  }
  .section6 .section6-container {
    padding: 50px 20px;
    background-size: 50px;
    background-position: 92% 3%;
  }
  .section6 .section6-container .text {
    background-size: 80px;
    background-position: 3% 0%;
  }
  .section6 .section6-container .text h4 {
    font-size: 24px;
  }
  .section6 .section6-container .text p {
    font-size: 16px;
  }
  .section6 .section6-container .paths {
    padding-left: 0px;
    padding-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section6 .section6-container .paths .path {
    width: 100%;
  }
  .section6 .section6-container .paths .path1 {
    background-size: 80px;
  }
  .section6 .section6-container .paths .path2 {
    background-size: 130px;
  }
  .section7 .section7-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .section7 .section7-container .text h4 {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  header nav .logo {
    width: 130px;
    min-width: 100px;
  }
  header nav .nav-menu .click .thumbs div img {
    width: 40px;
  }
  header nav .nav-menu .click .thumbs p {
    padding: 8px 20px;
    padding-left: 4px;
    font-size: 16px;
    margin-left: -9px;
  }
  .hero .hero-container {
    padding-left: 0;
    padding-right: 0;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 28px;
  }
  .hero .hero-container .hero-text p {
    font-size: 16px;
    padding: 0;
  }
  .hero .hero-container .hero-text .enroll {
    background-position: 200px 85px;
    background-size: 70px auto;
    padding-bottom: 120px;
  }
  .hero .hero-container .hero-text .enroll a button {
    padding: 8px 20px;
  }
  .powered .ingressive .text1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section2 .section2-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .section2 .section2-container .top .text {
    width: 100%;
  }
  .section2 .section2-container .top .text p {
    width: 100%;
  }
  .section2 .section2-container .features .feature .text h1 {
    font-size: 44px;
  }
  .section2 .section2-container .features .feature .text h3 {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 26px;
  }
  .section4 .section4-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section4 .section4-container .areas .area {
    height: 380px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .section5 .section5-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section6 .section6-container .text p {
    font-size: 16px;
  }
  .section7 .section7-container {
    background-size: 20%;
  }
  .section7 .section7-container .top .bend {
    width: 22%;
  }
  .section7 .section7-container .text {
    margin-left: 35px;
    margin-right: 35px;
  }
  .section7 .section7-container .text h4 {
    font-size: 26px;
  }
  .section7 .section7-container .text a button {
    font-size: 16px;
  }
  .section7 .section7-container .bottom .img2 {
    margin-top: 50px;
  }
  .section7 .section7-container .bottom .img2 img {
    width: 80px;
    height: 70px;
  }
}

@media (max-width: 336px) {
  header nav .logo {
    width: 110px;
  }
  header nav .nav-menu .click .thumbs p {
    font-size: 13px;
  }
  .section4 .section4-container .areas .area {
    height: 425px;
  }
}
/*# sourceMappingURL=training.css.map */